Repository harvard-edge/cs249r_book, pull requests merged in 2023-11, with the labels that each got.

#50 Added a medical example in AI for Good chapter
  ai_for_good.qmd
  references.bib
Labels: improvement

#46 On Device Learning Ready For Group Review
  images/ondevice_fed_averaging.png
  images/ondevice_gboard_approach.png
  images/ondevice_gboard_example.png
  images/ondevice_intro.png
  images/ondevice_medperf.png
  images/ondevice_pretraining.png
  images/ondevice_pruning.png
  images/ondevice_quantization_matrix.png
  images/ondevice_split_model.png
  images/ondevice_training_flow.png
  images/ondevice_transfer_learning_apps.png
  images/ondevice_transfer_tinytl.png
  ondevice_learning.qmd
  references.bib
  workflow.qmd
Labels: cs249r

#53 AI HW Acceleration
  hw_acceleration.qmd
  images/hw_acceleration/aimage1.png
  images/hw_acceleration/aimage2.png
  images/hw_acceleration/aimage3.png
  images/hw_acceleration/aimage4.png
  images/hw_acceleration/aimage5.png
  images/hw_acceleration/aimage6.png
  images/hw_acceleration/aimage7.png
  images/hw_acceleration/fimage1.png
  images/hw_acceleration/fpga.png
  images/hw_acceleration/hwai_40yearsmicrotrenddata.png
  images/hw_acceleration/nre.png
  images/hw_acceleration/tradeoffs.png
  references.bib
Labels: cs249r

#62 Add NeuroBench to benchmarking chapter
  benchmarking.qmd
  hw_acceleration.qmd
  references.bib
Labels: new, improvement

#57 Added AIOps page
  images/ai_ops/cicd_pipelines.png
  images/ai_ops/clinaiops.png
  images/ai_ops/clinaiops_loops.png
  images/ai_ops/data_cascades.png
  images/ai_ops/edge_impulse_dashboard.png
  images/ai_ops/hidden_debt.png
  images/ai_ops/mlops_flow.png
  images/ai_ops/transfer_learning.png
  ops.qmd
  references.bib
Labels: cs249r

#66 add security and privacy chapter initial draft
  images/cover_security_privacy.png
  images/security_privacy/image1.png
  images/security_privacy/image10.png
  images/security_privacy/image11.png
  images/security_privacy/image12.png
  images/security_privacy/image13.png
  images/security_privacy/image14.png
  images/security_privacy/image15.png
  images/security_privacy/image16.png
  images/security_privacy/image2.png
  images/security_privacy/image3.png
  images/security_privacy/image4.png
  images/security_privacy/image5.png
  images/security_privacy/image6.png
  images/security_privacy/image7.png
  images/security_privacy/image8.png
  images/security_privacy/image9.png
  ops.qmd
  privacy_security.qmd
  references.bib
Labels: cs249r
